.request {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.request .url-editor  {
  display: flex;
  justify-content: left;
}

.request .url-editor > * {
  margin: 10px;
}
.request .url-editor select {
  height: 40px;
  border-radius: 5px;
}
.request textarea {
  height: 20vh;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tab-indicators {
  display: flex;
  justify-content: left;
}

.tab-indicators button {
  background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.tab-indicators button.active {
  border-bottom: 2px solid #555;
}

.tab {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.headers-editor {
  display: flex;
  flex-direction: column;
}

.header-input {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.header-input > * {
  margin-left: 10px;
}
.queries-editor {
  display: flex;
  flex-direction: column;
}

.query-input {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.query-input > * {
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .request {
    margin-right: 0;
    width: 80vw;
  }
}
