.request {
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 48vw;
  border: #ccc 1px solid;
  border-radius: 0.5vw;
}

.request .url-editor {
  display: flex;
  justify-content: left;
  margin-left: 1.5vw;
}

.request .url-editor > * {
  margin: 10px;
}
.request .url-editor select {
  height: 40px;
  border-radius: 5px;
}

.request .url-editor input {
  border-radius: 5px;
  width: 30vw;
}

.request .tabs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.request .tab-indicators {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.request .tab-indicators button {
  background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.request .tab-indicators button.active {
  border-bottom: 2px solid #555;
}

.request .tab {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-left: 1.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80vh;
  width: 44vw;
  overflow: auto;
}

.request .tab > * {
  height: inherit;
}

.body-input {
  height: 20vh;
  width: 40vw;
}

@media (max-width: 1024px) {
  .request {
    margin-right: 0;
    width: 80vw;
  }

  .body-input {
    height: 20vh;
    width: 70vw;
  }

  .request .tab {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    width: 75vw;
  }
}
